.nav-container {
  background: url(../images/open-law-background.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: top;
}

.nav-items {
  position: relative;
  max-width: 1720px;
  padding-top: 50px;
  height: 100%;
  width: 89.5%;
  .nav-logo {
    float: left;
    width: 170px;
  }
  img {
    display: none;
  }
  svg {
    margin-left: 0;
  }
}

.nav-menu {
  font-family: "Nunito Sans", sans-serif;
  font-size: 19px;
  font-weight: 600;
  padding-top: 10px;
  
}

nav {
  ul {
    padding-left: 0;
    
    li {
      margin-right: 40px;
      display: inline-block;
      text-decoration: none;
      padding-bottom: 15px;
      margin-bottom: 6px;
      input {
        display: none;
      }
      &:hover {
        margin-bottom: 0px;  
        border-bottom: 6px solid $openLawA11yBrown;
      }

      a {
        padding: 0px 5px 12px 5px;
        text-decoration: none;
        color: #ffffff;
        &:hover {
          text-decoration: none;
          color: $openWhite;
        }
      }
    }
  }
}

.link-active { 
  border-bottom: 6px solid $openLawA11yBrown;
}

.mobile-secondary {
  display: none;
}

.nav-secondary {
  display: none;
  font-size: 18px;
  position: absolute;
  top: 50px;
  right: 0;
  margin-top: 20px;
  text-align: center;
  display: block;
  height: 50px;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  .developers-text {
      font-size: 19px;
      padding: 10px 12px;
      border: 2px solid #fff;
  }
}



@media(max-width: 1024px) {
  .nav-secondary {
    .developers-text {
      display: none;
    }
  }
}

.visuallyhidden {
  // hide from visual users, show for screen readers
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;

  &:focus {
    display: inline-block;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    clip: auto;
    color: #000000;
    background-color: #ffffff;
    clip-path: unset;
  }
}

#menuToggle > input {
  display: none;
}


@media (max-width: 890px) { 
  .nav-search {
    margin-top: 100px;
    padding-bottom: 10px;
  }
}

@media (max-width: 890px) { 

  #menuToggle {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 40px;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input {
    display: block;
    position: absolute;
    z-index: 250;
    cursor: pointer;
    -webkit-touch-callout: none;
  }

  #menuToggle > input {
    &:checked {
      position: fixed;
    }
    width: 70px;
    height: 70px;
    
    top: 0;
    right: 0;

    opacity: 0;
  }

  #menuToggle span {
    background: $openWhite;
    border-radius: 3px;
    
    display: block;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }
  #menuToggle > span {
    border-radius: 3px;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: absolute;
    z-index: 205;
    transform-origin: 4px 0px;
    right: 30px;
    top: 30px;
  }


  #menuToggle > span:nth-child(2) {
    transform: translate(0px, 10px);
  }

  #menuToggle > span:nth-child(3) {
    transform: translate(0px, 20px);
  }

  #menuToggle > input:checked ~ span {
    position: fixed;
    opacity: 1;
    transform: rotate(45deg) translate(0, 0);
    background: $openWhite;
  }

  #menuToggle > input:checked ~ span:nth-child(2) {
    position: fixed;
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  #menuToggle > input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-14px, 11px);
  }

  .nav-items {
    width: 100%; 
    .nav-logo {
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px 6vw;
      width: 250px;
    }
  }
    
  nav {
    padding-top: 20%;
    ul {
      width: 80%;
      margin: 0 auto;
      li {
        width: 100%;
        display: block;
        position: relative;
        margin-bottom: 0px;
        
        span {
          width: 22px;
          height: 2px;
          border-radius: 5px;
          position: absolute;
          top: 12px;
          right: 0;
          &:nth-child(3) {
            transform: rotate(-90deg);
          }
        }
        input {
          position: absolute;
          top: 0;
          right: 0;
          height: 30px;
          width: 30px;
          opacity: 0;
          
          &:checked ~ span {
            transform: none;
          }
          &:checked ~ ul {
            max-height: 500px;
          }
        }

        a {
          display: block;
          padding:5px 5px 5px 5px;
        }
        &:hover {
          border-bottom: none;
        }
        ul {
          max-height: 0;
          overflow-y: hidden;
          transition: max-height 0.5s ease-in-out;
          width: 100%;
          margin-left: 15px;
          li {
            font-size: 17px;
            padding: 15px 0 0 0;
          }
        }
      }
    }
  }

  .mobile-secondary {
    display: block;
    
  }
  .link-active {
    border-bottom: 3px solid $openLawA11yBrown;;
  }

  .nav-collapsing {
      background: url(../images/open-law-background.png) no-repeat center center, linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.65));
      background-blend-mode: overlay;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      
      position: fixed;
      z-index: 101;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: 115%;
      padding-top: 15px;

      overflow-y: scroll;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menuToggle input:checked ~ .nav-collapsing {
    transform: none;
  }
}





.tertiary-nav {
  @include nav-header;
  padding-top: 20px;
  width: 30%;
  min-width: 375px;
  position: sticky;
  vertical-align: top;
  display: inline-block;
  top: 0;
  font-weight: 700;
  font-size: 24px;
  
  .primary-menu {
    height: 100%;
    margin-left: 10%;
    margin-right: 18%;
    a {
      text-decoration: none;
      color: $openLawArapawa;
      &:hover {
        color: $openLawA11yTeal;
      }
      
    }
  }

  

  .tertiary-item {
    width: 100%;
    border-bottom: 1px solid $openLawA11yBrown;
    line-height: 1.2;
    a {
      display: block;
      padding: 12px 0 12px 10px;
    }
  }
  
  .tertiary-active {
    border-bottom: 3px solid $openLawA11yBrown;
  }


  .tertiary-sub-routes {
    padding-left: 15px;
    li {
      font-size: 16px;
      padding-top: 10px;
      font-weight: 600;
      a:hover {
        color: $openLawA11yBrown;
      }
    }
  }

  @media (max-width: 767px) {
    display: block;

    .primary-menu {
      margin: 20px 0;
    }
  }
}